<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button routerLink="['/']" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Тут автор</strong>
    <small>02.11.2020</small>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, hic.
      Voluptatem error nobis autem nam ab, quas, dolore sed nulla, ipsa
      recusandae sit. Autem impedit temporibus ipsa earum ad harum. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Atque, hic. Voluptatem error
      nobis autem nam ab, quas, dolore sed nulla, ipsa recusandae sit. Autem
      impedit temporibus ipsa earum ad harum. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Atque, hic. Voluptatem error nobis autem nam
      ab, quas, dolore sed nulla, ipsa recusandae sit. Autem impedit temporibus
      ipsa earum ad harum.
    </p>
  </div>
</div>
